<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title|title }}</title>
</head>
<body>
<div>{{ title|title }}</div>
<p>User: {{ username }}</p>
<h3>ваши продукты:</h3>
{% for good in goods %}
    <p>{{ good.name }} :{{ good.price }} руб.</p>
{% endfor %}
{% if promotion_prods %}
    <h3>Акция</h3>
    {% for good in promotion_prods %}
        <p>{{ good.name }}: {{ good.price }} руб.</p>
    {% endfor %}
{% else %}
    <p style="color: #1e7e34">СЕЙЧАС АКЦИИ НЕТ</p>
{% endif %}
</body>
</html>