{% extends 'mainapp/base.html' %}
{% load static %}
{% block page_title %}
    <title xmlns="http://www.w3.org/1999/html">GeekShop/{{ title|title }}</title>
{% endblock %}
{% block css %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">

{% endblock %}
{% block content %}
    <!-- Page Content -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5">GeekShop Store</h1>
                    <p>
                        Новые образы и лучшие бренды на GeekShop Store.
                        Бесплатная доставка по всему миру! Аутлет: до -70% Собственный бренд. -20% новым покупателям.
                    </p>
                    <button id="start-purchase-btn" type="button" class="btn btn-lg">
                        <a id="start-purchase-link" href="{% url 'products' %}">
                            Начать покупки
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block img_pro %}
    <h4 style="text-align: left">Все продукты магазина по категориям коллекции {% now 'Y' %} года на дату : {% now 'd.m.Y г.' %}</h4>
    {% for key in prs %}
        <h5 style="color: #1e7e34">{{ key.categ }}</h5>
        {% for goods_item in  key.goods %}
            <div style="display: inline-block">
                <div style="margin: 20px">
                    <p style="max-width: 250px">{{ goods_item.name }}</p>
                    <img src="{{ goods_item.image }}" width="250" alt="#">
                    <p>{{ goods_item.price }} руб.</p>
                    <p style="max-width: 250px">{{ goods_item.description }}</p>
                    <button>Купить</button>
                </div>
            </div>



        {% endfor %}

        {#        <img src="{{ key.goods.0.image }}" width="200" alt="">#}
    {% endfor %}

{% endblock %}


