<!DOCTYPE html>
{% extends "mainapp/base.html" %}
{% load staticfiles %}

{% block new %}

<div class="row">
    <div>{{ title|title }}</div>
    <a href="{% url 'products' %}">products</a>
    <a href="{% url 'index' %}">index</a>
    {% for product in prds %}
    {% if product.category.name == 'Новинки'%}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#">
                <img class="card-img-top"
                     src="/media/{{ product.image }}" width="200"
                     alt="">
            </a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">{{ product.name }}</a>
                </h4>
                <h5>{{ product.price }} руб.</h5>
                <p class="card-text">{{ product.short_description }}</p>
            </div>
            <div class="card-footer text-center">
                <button type="button" class="btn btn-outline-success">Отправить в корзину</button>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
{% endblock %}